repos:
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
    - id: mypy
      additional_dependencies: [astropy>=7.2.0, numpy>=2.3.5, pytest>=9.0.2, scipy-stubs>=1.17.0.0]
      args: [--config-file=pyproject.toml]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
    - id: ruff-check
    - id: ruff-format
