name: Type check

on: [push, pull_request]

jobs:
  type-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.28"

      - name: Install the project
        run: uv sync
  
      - name: Run type check
        run: uv run mypy chirplab tests
